<% layout("/layouts/boilerplate") -%>
    <h3 class="text-center mb-4">Edit Listing</h3>

    <form method="post" action="/listing/<%= editListing._id %>?_method=PUT" class="w-50 mx-auto p-4 border rounded shadow-sm bg-light needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" value="<%= editListing.title %>" name="listing[title]" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" rows="3" required><%= editListing.description %></textarea>
            <div class="invalid-feedback">Please provide a description.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Preview image</label>
            <div>
                <img src="<%= editListing.image.url %>" alt="" style="height:200px; width: 200px;">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Upload New Image</label>
            <input type="file" class="form-control" name="listing[image]">
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" value="<%= editListing.price %>" name="listing[price]" required>
            <div class="invalid-feedback">Please enter a valid price.</div>
        </div>

        <div class="mb-3 row">
            <div class="col">
                <label class="form-label">Country</label>
                <input type="text" class="form-control" value="<%= editListing.country %>" name="listing[country]" required>
                <div class="invalid-feedback">Please enter a country.</div>
            </div>
            <div class="col">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" value="<%= editListing.location %>" name="listing[location]" required>
                <div class="invalid-feedback">Please enter a location.</div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-sm">Update Listing</button>
        </div>
    </form>
